name: Nexus OS Cloud Factory
on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Your Config
        uses: actions/checkout@v4

      - name: Install System Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libncurses5-dev rsync bc wget cpio unzip python3

      - name: Clone Buildroot Engine
        run: |
          # Скачиваем только самое нужное, без истории (так быстрее)
          git clone --depth 1 https://github.com/buildroot/buildroot.git buildroot_engine

      - name: Build My OS
        run: |
          cp .config buildroot_engine/.config
          cd buildroot_engine
          make olddefconfig
          # Добавляем флаг, который разрешает старые стандарты C
          make -j$(nproc) BR2_EXTERNAL_CFLAGS="-std=gnu89 -fpermissive"

      - name: Upload Finished Image
        uses: actions/upload-artifact@v4
        with:
          name: Nexus-OS-v0.1-Image
          # Путь к готовому файлу внутри движка
          path: buildroot_engine/output/images/sdcard.img
